@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 83 50% 98%;
    --foreground: 83 80% 3%;
    --muted: 83 10% 91%;
    --muted-foreground: 83 11% 39%;
    --popover: 83 50% 98%;
    --popover-foreground: 83 80% 3%;
    --card: 83 50% 98%;
    --card-foreground: 83 80% 3%;
    --border: 83 7% 93%;
    --input: 83 7% 93%;
    --primary: 83 80% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 83 1% 87%;
    --secondary-foreground: 83 1% 27%;
    --accent: 83 7% 77%;
    --accent-foreground: 83 7% 17%;
    --destructive: 22 97% 27%;
    --destructive-foreground: 22 97% 87%;
    --ring: 83 80% 60%;
    --radius: 0.45rem;
    
  }

  .dark {
    --background: 83 45% 3%;
    --foreground: 83 19% 97%;
    --muted: 83 10% 9%;
    --muted-foreground: 83 11% 61%;
    --popover: 83 45% 3%;
    --popover-foreground: 83 19% 97%;
    --card: 83 45% 3%;
    --card-foreground: 83 19% 97%;
    --border: 83 7% 12%;
    --input: 83 7% 12%;
    --primary: 83 80% 60%;
    --primary-foreground: 0 0% 0%;
    --secondary: 83 4% 13%;
    --secondary-foreground: 83 4% 73%;
    --accent: 83 9% 21%;
    --accent-foreground: 83 9% 81%;
    --destructive: 22 97% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 83 80% 60%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-8 h-8 bg-muted rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px;
    @apply ml-[-41px];
    content: counter(step);
  }

  .noscroll::-webkit-scrollbar {
    display: none;
  }
  
  .noscrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}