@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 184 59% 6%;
    --foreground: 159 10% 97.5%;
    --muted: 191 33% 16%;
    --muted-foreground: 189 12% 68%;
    --popover: 184 59% 6%;
    --popover-foreground: 159 10% 97.5%;
    --card: 184 59% 6%;
    --card-foreground: 159 10% 97.5%;
    --border: 191 33% 16%;
    --input: 191 33% 16%;
    --primary: 164 56% 69%;
    --primary-foreground: 159 10% 5%;
    --secondary: 191 33% 16%;
    --secondary-foreground: 159 10% 97.5%;
    --accent: 191 33% 16%;
    --accent-foreground: 159 10% 97.5%;
    --destructive: 0 68% 50%;
    --destructive-foreground: 159 10% 97.5%;
    --ring: 164 56% 69%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 69 38% 3%;
    --foreground: 69 12% 97%;
    --muted: 69 19% 7%;
    --muted-foreground: 69 12% 75%;
    --popover: 69 38% 3%;
    --popover-foreground: 69 12% 97%;
    --card: 69 38% 3%;
    --card-foreground: 69 12% 97%;
    --border: 69 6% 10%;
    --input: 69 6% 10%;
    --primary: 69 38% 11%;
    --primary-foreground: 69 38% 51%;
    --secondary: 69 11% 9%;
    --secondary-foreground: 69 11% 69%;
    --accent: 69 18% 18%;
    --accent-foreground: 69 18% 78%;
    --destructive: 11 95% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 69 38% 11%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}